<h2 class="my-3">Ваша корзина</h2>
<div>
	<table class="table table-stripped">
		<thead>
			<tr>
				<th>#</th>
				<th>Наименование</th>
				<th>Цена</th>
				<th>Количество</th>
				<th colspan="2">Сумма</th>
			</tr>
		</thead>
		<tbody id="cart" data-url="<%= @items.to_json %>">
		
		<% total_count = 0 %>
		<% total_qty = 0 %>

		<% @items.each_with_index do |item, i| %>
			<tr>
				<td><%= i+1 %></td>
				<td><%= item["id"].title %></td>
				<td><%= item["price"] %></td>
				<td>
					<%= link_to(image_tag("/square_remove.png", width: "20", class: "m-0"), "javascript:decrease_count(#{item["id"].id}, #{item["price"]})") %>
					<input type="number" style="text-align: center; border: 0; outline: none; width: 40px; padding: 0; margin: 0;" id="count_<%= item["id"].id %>_<%= item["price"] %>" value="<%= item["count"] %>" />
					<%= link_to(image_tag("/square_add.png", width: "20", class: "m-0"), "javascript:increase_count(#{item["id"].id}, #{item["price"]})") %>
				</td>
				<td><%= item["price"].to_i * item["count"].to_i %></td>
				<td width="50"><%= link_to(image_tag("/bin.png", width: "20", class: "m-0"), "javascript:delete_item(#{item["id"].id}, #{item["price"]})") %></td>
			</tr>
			<% total_qty += item["price"].to_i * item["count"].to_i %>
			<% total_count += item["count"].to_i %>
		<% end %>
			<tr>
				<td></td>
				<td><strong>Всего</strong></td>
				<td></td>
				<td id="total_count"><strong><%= total_count %></strong></td>
				<td id="total_qty"><strong><%= total_qty %></strong></td>
			</tr>
		</tbody>
	</table>


	<form action="/order" method="POST">

		<input type="hidden" name="order[order_input]" value="<%= @order_input %>" />

		<div class="form-group">
			<label>ФИО:</label>
			<input type="text" name="order[name]" class="form-control" placeholder="Ваше имя" value="">
		</div>

		<div class="form-group">
			<label>Телефон:</label>
			<input type="text" name="order[phone]" class="form-control" placeholder="Ваш телефон" value="">
		</div>

		<div class="form-group">
			<label>Адрес:</label>
			<textarea name="order[address]" class="form-control" placeholder="Адрес доставки" value=""></textarea>
		</div>

		<button type="submit" class="btn btn-primary">Разместить заказ</button>
		<button type="submit" class="btn btn-danger" onclick="return cancel_order()">Очистить корзину</button>
	</form>
</div>