<h2 class="my-3">Ваша корзина</h2>
<div>
	<table class="table table-stripped">
		<thead>
			<tr>
				<th class="d-none d-sm-block">#</th>
				<th class="px-0 px-sm-2">Наименование</th>
				<th class="pe-0 pe-sm-2 ps-1 ps-sm-2">Цена</th>
				<th class="px-0 px-sm-2" colspan="3">Количество</th>
				<th class="px-0 px-sm-2" colspan="2">Сумма</th>
			</tr>
		</thead>
		<tbody id="cart" data-url="<%= @items.to_json %>">
		
		<% total_count = 0 %>
		<% total_qty = 0 %>

		<% @items.each_with_index do |item, i| %>
			<tr>
				<td class="d-none d-sm-block"><%= i+1 %></td>
				<td class="px-0 px-sm-2"><%= item["id"].title %></td>
				<td class="pe-0 pe-sm-2 ps-1 ps-sm-2"><%= item["price"] %></td>
				<td class="px-0 px-sm-2 text-right" width="20"><%= link_to(image_tag("/square_remove.png", width: "20", class: "m-0"), "javascript:decrease_count(#{item["id"].id}, #{item["price"]})") %></td>
				<td class="px-0 px-sm-2" width="30">
					<input type="number" min="1" max="99" maxlength="2" onKeyPress="if(this.value.length==2) return false;" 
					onKeyUp="if(this.value>99){this.value = this.value.slice(1, 99);}else if(this.value<1){this.value='1';}" 
					onchange="change_input_count(<%= item['id'].id %>, <%= item['price'].to_i %>, this.value)" style="text-align: center; border: 0; outline: none; width: 40px; padding: 0; margin: 0;" 
					id="count_<%= item["id"].id %>_<%= item["price"] %>" value="<%= item["count"] %>" /></td>
				<td class="px-0 px-sm-2"><%= link_to(image_tag("/square_add.png", width: "20", class: "m-0"), "javascript:increase_count(#{item["id"].id}, #{item["price"]})") %></td>
				<td id="qty_<%= item["id"].id %>_<%= item["price"] %>"><%= item["price"].to_i * item["count"].to_i %></td>
				<td class="px-0 px-sm-2" width="50"><%= link_to(image_tag("/bin.png", width: "20", class: "m-0"), "javascript:delete_item(#{item["id"].id}, #{item["price"]})", onclick: "return confirm('Вы уверены что хотите удалить позицию из корзины?')") %></td>
			</tr>
			<% total_qty += item["price"].to_i * item["count"].to_i %>
			<% total_count += item["count"].to_i %>
		<% end %>
			<tr>
				<td class="d-none d-sm-block"></td>
				<td><strong>Всего</strong></td>
				<td></td>
				<td></td>
				<td class="text-center" id="total_count"><strong><%= total_count %></strong></td>	
				<td></td>
				<td class="px-0 px-sm-2" id="total_qty"><strong><%= total_qty %></strong></td>
			</tr>
		</tbody>
	</table>

	<div class="jumbotron">
		<h4>Заполните форму чтобы сделать заказ</h4><br>

		<%= render partial: "form" %>
		
	</div>

</div>