<h2 class="my-3">Ваша корзина</h2>
<div id="cart">
	<table class="table table-stripped">
		<thead>
			<tr>
				<th>#</th>
				<th>Наименование</th>
				<th>Цена</th>
				<th>Количество</th>
				<th>Сумма</th>
			</tr>
		</thead>
		<tbody>
		<% total_price = 0 %>
		<% total_count = 0 %>
		<% total_qty = 0 %>

		<% @items.each_with_index do |item, i| %>
			<tr>
				<td><%= i+1 %></td>
				<td><%= item[0].title %></td>
				<td>
					<% item[0].prices.each do |price| %>
						<%= price.price %></td>
						<%# total_price += price.price %>
						<td><%= item[1] %></td>
						<% total_qty += price.price.to_i * item[1].to_i %>
						<td><%= price.price.to_i * item[1].to_i %>
					<% end %>
			
			</tr>
			<% total_count += item[1].to_i %>
		<% end %>
			<tr>
				<td></td>
				<td><strong>Всего</strong></td>
				<td><strong></td>
				<td><strong><%= total_count %></strong></td>
				<td><strong><%= total_qty %></strong></td>
			</tr>
		</tbody>
	</table>


	<form action="/order" method="POST">

		<input type="hidden" name="order[order_input]" value="<%= @order_input %>" />

		<div class="form-group">
			<label>ФИО:</label>
			<input type="text" name="order[name]" class="form-control" placeholder="Ваше имя" value="">
		</div>

		<div class="form-group">
			<label>Телефон:</label>
			<input type="text" name="order[phone]" class="form-control" placeholder="Ваш телефон" value="">
		</div>

		<div class="form-group">
			<label>Адрес:</label>
			<textarea name="order[address]" class="form-control" placeholder="Адрес доставки" value=""></textarea>
		</div>

		<button type="submit" class="btn btn-primary">Разместить заказ</button>
		<button type="submit" class="btn btn-danger" onclick="return cancel_order()">Отменить заказ (очистить корзину)</button>
	</form>
</div>