<h2 class="my-3">Ваша корзина</h2>
<div>
	<table class="table table-stripped">
		<thead>
			<tr>
				<th>#</th>
				<th>Наименование</th>
				<th>Цена</th>
				<th colspan="3">Количество</th>
				<th colspan="2">Сумма</th>
			</tr>
		</thead>
		<tbody id="cart" data-url="<%= @items.to_json %>">
		
		<% total_count = 0 %>
		<% total_qty = 0 %>

		<% @items.each_with_index do |item, i| %>
			<tr>
				<td><%= i+1 %></td>
				<td><%= item["id"].title %></td>
				<td><%= item["price"] %></td>
				<td class="px-0 text-right" width="20"><%= link_to(image_tag("/square_remove.png", width: "20", class: "m-0"), "javascript:decrease_count(#{item["id"].id}, #{item["price"]})") %></td>
				<td class="px-0" width="30">
					<input type="number" onchange="change_input_count(<%= item['id'].id %>, <%= item['price'].to_i %>, this.value)" style="text-align: center; border: 0; outline: none; width: 40px; padding: 0; margin: 0;" 
					id="count_<%= item["id"].id %>_<%= item["price"] %>" value="<%= item["count"] %>" /></td>
				<td class="px-0"><%= link_to(image_tag("/square_add.png", width: "20", class: "m-0"), "javascript:increase_count(#{item["id"].id}, #{item["price"]})") %></td>
				<td id="qty_<%= item["id"].id %>_<%= item["price"] %>"><%= item["price"].to_i * item["count"].to_i %></td>
				<td width="50"><%= link_to(image_tag("/bin.png", width: "20", class: "m-0"), "javascript:delete_item(#{item["id"].id}, #{item["price"]})") %></td>
			</tr>
			<% total_qty += item["price"].to_i * item["count"].to_i %>
			<% total_count += item["count"].to_i %>
		<% end %>
			<tr>
				<td></td>
				<td><strong>Всего</strong></td>
				<td></td>
				<td></td>
				<td class="text-center" id="total_count"><strong><%= total_count %></strong></td>	
				<td></td>
				<td id="total_qty"><strong><%= total_qty %></strong></td>
			</tr>
		</tbody>
	</table>



	<%= form_with(model: @order) do |form| %>
		<% if @order.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(Order.errors.count, "error") %> prohibited this order from being saved:</h2>

				<ul>
					<% @order.errors.each do |error| %>
						<li><%= error.full_message %></li>
					<% end %>
				</ul>
			</div>
		<% end %>


		<%= form.hidden_field :order, value: @order_input %>
		<%= form.hidden_field :user_id, value: current_user.id %>
		<%= form.hidden_field :status, value: "placed" %>

		<div class="form-group">
			<%= form.label "ФИО:" %>
			<%= form.text_field :full_name, class: "form-control", placeholder: "Введите ФИО" %>
		</div>

		<div class="form-group">
			<%= form.label "Телефон:" %>
			<%= form.text_field :phone, class: "form-control", placeholder: "Ваш телефон" %>
		</div>

		<div class="form-group">
			<%= form.label "Почтовый индекс:" %>
			<%= form.text_field :zip, class: "form-control", placeholder: "Введите индекс" %>
		</div>

			<%# <%= form.label "Выберете регион " %>
			<%# <%= form.collection_select(region_id, region_id.title, :id, :title) %>

		<div class="form-group">
			<label>Регион РФ:</label>
			<select name="order[region_id]" class="custom-select" aria-label="Default select example">

				<option selected>Выберете регион</option>
				<% @regions.each do |region| %>
					<option value="<%= region.id %>"><%= region.title %></option>
				<% end %>
			</select>
		</div>

		<div class="form-group">
			<%= form.label "Адрес:" %>
			<%= form.text_field :address, class: "form-control", placeholder: "Адрес доставки" %>
		</div>

		<div class="actions">
			<%= form.submit "Разместить заказ", class: "btn btn-primary", onclick: "clear_cart()" %>
			<%= form.submit "Очистить корзину", class: "btn btn-danger", onclick: "return cancel_order()" %>
		</div>
	<% end %>
</div>