<h2 class="my-3">Ваш заказ</h2>
<div>
	<table class="table table-stripped">
		<thead>
			<tr>
				<th>ФИО</th>
				<th>Телефон</th>
				<th>Регион</th>
				<th>Адрес</th>
				<th>Индекс</th>
				<th>Статус</th>
				<th>Заказ</th>
			</tr>
		</thead>
		<tbody>

			<tr>
				<td><%= @order.full_name %></td>
				<td><%= @order.phone %></td>
				<td><%= @order.region.title %></td>
				<td><%= @order.address %></td>
				<td><%= @order.zip %></td>
				<td><%= @order.status %></td>
				<td><%= @order.order %></td>
				
			</tr>

		</tbody>
	</table>