<p class="header">Семена деревьев</p>
<div class="row">

      <% @seeds.each do |seed| %>
        <% if seed.image? %>
        
          <div class="col-md-2.5 p-0 m-2">
            <%= link_to(image_tag(seed.image[0].thumb200.url, alt: seed.title, class: "img-thumbnail"), seed)  %>
            
            <p class="text-left m-1" style="font-family: 'Roboto', sans-serif; width: 200px;"><%= seed.title %></p>
            <% seed.prices.each do |price| %>
              <% if seed.availability == true %>
                <button class="btn btn-success btn-sm m-1" onClick="add_to_cart(<%= seed.id %>, <%= price.price %>)">В корзину</button>
                <%= price.amount %>
                <%= price.unit %>
                <%= price.price %> р. <br>
              <% else %>
                <button class="btn btn-secondary btn-sm m-1" disabled>Нет в наличии</button>
              <% end %>
            <% end %>
            <%# seed.usda %>
            <%# seed.description[0..50] if seed.description.present? && seed.description.length > 50 %>
            <%# <p>
              <%# link_to 'Show', seed %>
              <%# link_to 'Edit', edit_seed_path(seed) %>
              <%# link_to 'Destroy', seed, method: :delete, data: { confirm: 'Are you sure?' } %>
            <%# </p> %>
            
          </div>
        <% end %>
      <% end %>

</div>
<br>

<%# link_to 'New Seed', new_seed_path %>
