<p class="h2 my-3">Семена деревьев</p>
<div class="row">
  <div class="col-md-3 p-0"></div>
  <div class="col-md-9 p-0">
    <div class="row">
      <% @seeds.each do |seed| %>
        <% if seed.image? %>
        
          <div class="col-md-3 p-0">
            <%= link_to(image_tag(seed.image[0].thumb200.url, alt: seed.title, class: "img-thumbnail"), seed)  %>
            
            <p class="text-left m-1" style="font-family: 'Roboto', sans-serif;"><%= seed.title %></p>
            <% seed.prices.each do |price| %>
              <button class="btn btn-success btn-sm m-1" onClick="add_to_cart(<%= seed.id %>, <%= price.price %>)">В корзину</button>
              <%= price.amount %>
              <%= price.unit %>
              <%= price.price %> р. <br>
              
            <% end %>
            <%# seed.usda %>
            <%# seed.description[0..50] if seed.description.present? && seed.description.length > 50 %>
            <%# <p>
              <%# link_to 'Show', seed %>
              <%# link_to 'Edit', edit_seed_path(seed) %>
              <%# link_to 'Destroy', seed, method: :delete, data: { confirm: 'Are you sure?' } %>
            <%# </p> %>
            
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<br>

<%# link_to 'New Seed', new_seed_path %>
