<p class="h2 my-3" style="font-family: 'Roboto', sans-serif;">
  <%= @seed.title %> (<%= @seed.latin_title %>)
</p>

<div class="row">
  <div class="col-md-5 my-3">
    <p>
      <%= link_to(image_tag(@seed.image[0].thumb.url, alt: @seed.title, class: "img-fluid"), @seed.image[0].url) if @seed.image? %>
    </p>
    <p>
      <%= link_to(image_tag(@seed.image[1].thumb100.url, alt: @seed.title, class: "img-fluid"), @seed.image[1].url) if @seed.image? %>
    </p>
  </div>
  <div class="col-md-7 my-3">
    <p>
      <strong>Зона морозостойкости USDA:</strong>
      <%= @seed.usda %>
    </p>
    <p>
    <% @seed.prices.each do |price| %>
      <%= price.amount %>
      <%= price.unit %>
      <%= price.price %> руб. <br>
    <% end %>
    <button class="btn btn-success btn-sm my-1" onClick="add_to_cart(<%= @seed.id %>)">В корзину</button>
    </p>
    <p>
      <strong>Описание:</strong> 
      <%= simple_format(@seed.description) %>
    </p>
  </div>
</div>



<%# link_to 'Edit', edit_seed_path(@seed) %>
<%# link_to 'Back', seeds_path %>
