<p class="h2 my-3" style="font-family: 'Roboto', sans-serif;">
  <%= @seed.title %> (<%= @seed.latin_title %>)
</p>

<div class="row">
  <div class="col-md-5 my-3">
    <p>
      <%= link_to(image_tag(@seed.image.thumb.url, alt: @seed.title, class: "img-fluid"), @seed.image.url) if @seed.image? %>
    </p>
  </div>
  <div class="col-md-7 my-3">
    <p>
      <strong>Зона морозостойкости USDA:</strong>
      <%= @seed.usda %>
    </p>
    <p>
      <strong>Описание:</strong> 
      <%= simple_format(@seed.description) %>
    </p>
  </div>
</div>



<%# link_to 'Edit', edit_seed_path(@seed) %>
<%# link_to 'Back', seeds_path %>
