<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @seed.title %>
</p>

<p>
  <strong>Latin title:</strong>
  <%= @seed.latin_title %>
</p>

<p>
  <strong>Description:</strong>
  <%= simple_format(@seed.description) %>
</p>

<p>
  <strong>Usda:</strong>
  <%= @seed.usda %>
</p>

<p>
  <strong>Image:</strong>
  <%= @seed.image %>
</p>

<%= link_to 'Edit', edit_seed_path(@seed) %> |
<%= link_to 'Back', seeds_path %>
