<p class="h2 my-3" style="font-family: 'Roboto', sans-serif;">
  <%= @seed.title %> (<%= @seed.latin_title %>)
</p>

<div class="row">
  <div class="col-md-5 my-3">
    <p><%= image_tag(@seed.image.first.thumb.url, alt: @seed.title, class: "img-fluid", id: "img") %></p>
    <%  if @seed.image.length > 1 %>
      <% @seed.image.each_with_index do |image, i| %>
        <%= image_tag(image.thumb100.url, class: "img-fluid p-1", onclick: "javascript:change_img('#{image.thumb.url}');") %>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-7 my-3">
    <p>
      <strong>Зона морозостойкости USDA:</strong>
      <%= @seed.usda %>
    </p>
    <p>
    <% @seed.prices.each do |price| %>
      <% if @seed.availability == true %>
        <button class="btn btn-success btn-sm m-1" onClick="add_to_cart(<%= @seed.id %>, <%= price.price %>)">В корзину</button>
        <%= price.amount %>
        <%= price.unit %>
        <%= price.price %> р. <br>
      <% else %>
        <button class="btn btn-secondary btn-sm m-1" disabled>Нет в наличии</button>
      <% end %>
    <% end %>
    
    </p>
    <p>
      <strong>Описание:</strong> 
      <%= simple_format(@seed.description) %>
    </p>
  </div>
</div>



<%# link_to 'Edit', edit_seed_path(@seed) %>
<%# link_to 'Back', seeds_path %>
