<p>Новый заказ от <%= @order.full_name %>!</p>

<p>ФИО: <%= @order.full_name %></p>
<p>Регион: <%= @order.region.title %></p>
<p>Адрес: <%= @order.address %></p>
<p>Почтовый Индекс: <%= @order.zip %></p>
<p>Телефон: <%= @order.phone %></p>
<p>
Заказ:<br>
</p>

<table cellspacing=0 style="width: 700px" border=1>
  <thead>
    <tr>
      <th>Наименование</th>
      <th>Цена</th>
      <th>Количество</th>
      <th>Сумма</th>
    </tr>
  </thead>
  <tbody>
  <% order2 = JSON.parse(@order.order) %>

  <% total_count = 0 %>
  <% total_sum = 0 %>

  <% order2.each do |o| %>

    <tr>
      <td><%= Seed.find_by(id: o["id"]).title %></td>
      <td><%= o["price"] %></td>
      <td><%= o["count"] %></td>
      <td><%= o["price"] * o["count"] %></td>
    </tr>
    <% total_count += o["count"] %>
    <% total_sum += o["price"] * o["count"] %>
  <% end %>
    <tr>
      <td><strong>Всего </strong></td>
      <td></td>
      <td><strong><%= total_count %></strong></td>
      <td><strong><%= total_sum %></strong></td>
    </tr>
  </tbody>
</table>

