<p>Новый заказ от <%= @order.full_name %>!</p>

<p>ФИО: <%= @order.full_name %></p>
<p>Регион: <%= @order.region.title %></p>
<p>Адрес: <%= @order.address %></p>
<p>Почтовый Индекс: <%= @order.zip %></p>
<p>Телефон: <%= @order.phone %></p>
<p>
Заказ:<br>
----------
</p>
<p><%= @order.order %></p>
