<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treeseeds</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="/app.js"></script>

    <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# javascript_include_tag 'app', 'data-turbolinks-track': 'reload' %>
    <%# stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

  </head>

  <body class="d-flex flex-column min-vh-100">
    
      <nav class="navbar navbar-expand-lg navbar-light sticky-top border-bottom" style="background-color: #f3f3f3;">
        <div class="container-fluid pr-0">
          <a class="navbar-brand" href="/">Treeseeds</a>
          <button class="navbar-toggler mx-1 ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <%= link_to 'Все семена', '/seeds', class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Хвойные', '/seeds/conifers', class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Лиственные', '/seeds/deciduous', class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%# link_to 'О нас', '/about', class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Оплата и доставка', '/about/payment', class: "nav-link" %>
              </li>
              <%# <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li> %>
            </ul>
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <%= link_to 'Admin Panel',  admin_root_path, class: "nav-link" if current_user.admin? %>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= current_user.username %></a>
                  
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <%= link_to 'Мои заказы', orders_path, class:"dropdown-item" if current_user.orders.any? %>
                    <%= link_to 'Изменить профиль', edit_user_registration_path, class:"dropdown-item" %>
                    <%= link_to 'Выйти', destroy_user_session_path, method: :delete, class:"dropdown-item" %>
                  </div>
                </li>

              <% else %>
                <div>
                  <%= link_to 'Войти', new_user_session_path, class:"btn btn-secondary btn-sm mt-1" %>
                  <%= link_to 'Регистрация', new_user_registration_path, class:"btn btn-primary btn-sm mt-1" %>
                </div>
              <% end %>

              
            </ul>
          </div>
          <%= form_with url: "/cart", method: :post do |form| %>
            <%= form.hidden_field "orders", id: "orders_input" %>
            <%= form.submit "Корзина", id: "orders_button", class: "btn btn-danger" %>

            <%# image_submit_tag("/shopping-cart.png", width: "40", class: "p-1 mb-0 mt-1", id: "orders_button") %>
          <% end %>
        </div>
      </nav>

    <div class="container">

      <% if notice %>
        <div class="alert alert-success my-3" role="alert">
          <%= notice %>
        </div>
      <% elsif alert %>
        <div class="alert alert-danger my-3" role="alert">
          <%= alert %>
        </div>
      <% end %>


      <%= yield %>

    </div>

    <div class="bg-secondary text-light mt-auto">
      <div class="container pt-5 py-3">
        <p>Все права защищены. Treeseeds.ru 2021</p>
      </div>
    </div>

    <script type="text/javascript">
	
			$(function()
			{
				update_orders_input();
				update_orders_button();
			})

		</script>

  </body>
</html>
